:root {
  --blue: #e62e5a; /* обьявления */
  --white: #caeaf5; /* основный текст */
  --yellow: #ccb800; /* Предупреждение */
  --red: #f42f31; /* ошибка */
  --green: #55ff55; /* зеленый в магазе */
}