:root {
  --color01: #e62e5a; /* обьявления */
  --color02: #caeaf5; /* основный текст */ /*  приятно белый цвет */
  --color03: #ccb800; /* Предупреждение */
  --color04: #f42f31; /* ошибка */
  --color05: #55ff55; /* зелёный в магазе */ /* ванильный hex */

  /* Нужно уточнить */
  --light_green: #83f28f;
  --main_world: #f6c25d;
  --res_world: #6495ed;
  --farm_world: #ffb6c1;
  --lobby_world: #00fa9a;
  --event_world: #fa8072;
}